.NavigationItem{
    display: block;
    align-items: center;
    width: 100%;
    margin:10px 0;
    box-sizing: border-box
}


.NavigationItem a{
    color:#8F5c2c;
    width: 100%;
    text-decoration: none;
    box-sizing: border-box;
    display: block

}

.NavigationItem a:hover ,
.NavigationItem a:active ,
.NavigationItem a.active {
     color: #40A4C8;
    cursor: pointer;
}


@media (min-width:500px){
    .NavigationItem{
        display: flex;
        align-items: center;
        height: 100%;
        width:auto;
        margin: 0;
       
    }
    
    
    .NavigationItem a{
        color:white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .NavigationItem a:hover ,
    .NavigationItem a:active ,
    .NavigationItem a.active {
        border-bottom: 4px solid  #40A4C8;
        background-color: #8f5c2c;
        color: white;  

    }
}